<article
  class="flex flex-col items-center justify-center text-center {{ if not .Site.Params.homepage.showRecent }}
    h-full
  {{ end }}"
>
  <header class="flex flex-col items-center mb-3">
    {{ with .Site.Author.image }}
      {{ $authorImage := resources.Get . }}
      {{ if $authorImage }}
        {{ $authorImage := $authorImage.Fill "288x288" }}
        <img
          class="mb-2 rounded-full w-36 h-36"
          width="144"
          height="144"
          alt="Author"
          src="{{ $authorImage.RelPermalink }}"
        />
      {{ end }}
    {{ end }}
    <h1 class="text-4xl font-extrabold">
      {{ .Site.Author.name | default .Site.Title }}
    </h1>
    {{ with .Site.Author.headline }}
      <h2 class="text-xl text-neutral-500 dark:text-neutral-400">
        {{ . }}
      </h2>
    {{ end }}
    <div class="mt-1 text-2xl">
      {{ partialCached "author-links.html" . }}
    </div>
    <div>
        <blockquote class="twitter-tweet">
            <p lang="en" dir="ltr">maybe <a href="https://t.co/RT4hD6JCNl">pic.twitter.com/RT4hD6JCNl</a></p>&mdash; poorly
            drawn lines (@PDLComics) <a
                href="https://twitter.com/PDLComics/status/1519348716028645376?ref_src=twsrc%5Etfw">April 27, 2022</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </header>
  <section class="prose dark:prose-invert">{{ .Content | emojify }}</section>
</article>
<section>
  {{ partial "recent-articles.html" . }}
</section>
